.registrationCard {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .header h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .header p {
    margin-bottom: 1.5rem;
    color: #777;
  }
  
  .highlight {
    color: #f39c12;
  }
  
  .buttonContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .signUpButtonGoogle,
  .signUpButtonApple {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .signUpButtonGoogle {
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .signUpButtonApple {
    background-color: #000;
    color: #fff;
    border: none;
  }
  
  .googleIcon {
    margin-left: 8px;
    font-size: 1.2rem;
  }
  
  .appleIcon {
    margin-left: 8px;
    font-size: 1.5rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .row {
    display: flex;
    gap: 1rem;
  }
  
  .inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .inputField {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  
  
  .optional {
    color: #999;
    font-style: italic;
  }
  
  .passwordInfo {
    font-size: 0.85rem;
    color: #555;
  }
  